/*
 * CountDownTimer css File
*/

.CountDownTimer {   
    padding: 20px;
}
h1{
    font-size: 3em !important;
    font-family: initial;
    font-weight: 500;
}
.days-timer{
    font-size: 2.5em;
    font-family: initial;
}
a{
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 907px) and (min-width: 769px) {
    .days-timer{
        font-size: 1.5em ;
    }
}

@media screen and (max-width: 768px) and (min-width: 560px) {
    .days-timer{
        font-size: 1.5em ;
    }
}

@media screen and (max-width: 559px) and (min-width: 350px) {
  .CountDownTimer{
      padding: 10px;
  }
  h1{
      font-size: 24px !important;
  }
  .days-timer{
      font-size: 0.8em;
  }
}