.Home {
    background-image: url("../../assets/header.jpg");
    min-height: 100vh;
    color: white;
}
header {
    background-color: #ff5722;
    /* box-shadow: inset 0px 40px 0px orange, inset 0px 50px 0px white, inset 0px 90px 0px green; */
    height: 60px !important;
    position: sticky;
    z-index: 5;
    top: 0px;
    text-align: left;
    padding: 0px 30px 0px 30px;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    /* color: #ffff; */
}
.logo {
    display: flex;
}
.inflag {
    margin-top: 8px;
    margin-left: 10px;
}
.text {
    font-weight: 400;
    color: #ffffff;
    position: relative;
    font-size: 1.5em;
    font-family: initial;
    text-decoration: underline;
    text-underline-position: under;
}
p {
    font-family: initial;
    color: #ffffff;
}
.contactDetails {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    font-family: initial;
    /* padding: 10px; */
    line-height: 4;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}

.countdown {
    padding: 40px;
    margin-top: 15px;
}
footer {
    background-color: #ff5722;
    padding: 20px;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    height: 35vh;
}
.contactInfo {
    padding: 20px;
}
.follow-us {
    padding: 20px;
}
.follow-text {
    color: #ffffff;
    font-size: 1.3em;
}
.footer-text {
    padding-right: 10px;
}
.imageIcon {
    padding-right: 10px;
}
a {
    text-decoration: none;
    color: #ffffff !important;
}

@media screen and (max-width: 1024px) and (min-width: 908px) {
    footer {
        height: auto;
    }
}

@media screen and (max-width: 907px) and (min-width: 769px) {
    footer {
        height: auto;
    }
}

@media screen and (max-width: 768px) and (min-width: 560px) {
    footer {
        height: auto;
    }
}

@media screen and (max-width: 559px) and (min-width: 350px) {
    header {
        height: 150px !important;
        grid-template-columns: none !important;
    }

    .logo {
        justify-content: space-between;
    }
    .countdown{
        padding:20px;
    }
  footer{
      height: auto;
      grid-template-columns: none;
  } 
  .footer-text{
      padding: none;
  }
} 
